/* Utilities */

.landing {
  position: relative;
  background: url('./img/loginpic.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.landing-inner {
  color: rgb(255, 255, 255);
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Text Styles*/
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.btn {
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  margin-right: 0.5rem;
}

/******************************************************/
/*register and login page*/

.register,
.login {
  position: relative;
  background: url('./img/register.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.registerform {
  padding: 40px;
  margin: auto;
  width: 400px;
}

.loginform {
  padding: 87px;
  margin: auto;
  width: 500px;
}

/******************************************************/

.homemenu {
  vertical-align: left;
}
.home {
  background-color: #ced4da;
  height: 150vh;
}

.content {
  margin: 0 auto;
  width: 80%;
  border-radius: 25px;
  background-color: white;
  border: 3px solid #343a40;
  height: 120vh;
}

.search {
  position: absolute;
  top: 20%;
  right: 40%;
}

.navbtn {
  position: absolute;
  top: 20%;
  right: 20px;
}
#basic-nav-dropdown {
  color: white;
}

.profileform {
  margin-left: 25%;
  margin-right: 25%;
  width: 800px;
}

.popupcontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 25px;
  background-color: rgb(183, 183, 184);
  border: 3px solid #343a40;
  color: rgb(0, 0, 5);
  width: 500px;
  margin-left: -650px;
  margin-top: 60px;
}
