/* Utilities */

.landing {
  position: relative;
  background: url('./img/loginpic.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.landing-inner {
  color: rgb(255, 255, 255);
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Text Styles*/
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.btn {
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  margin-right: 0.5rem;
}
.alert {
  height: 40px;
}

/******************************************************/
/*register and login page*/

.register,
.login {
  position: relative;
  background: url('./img/register.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.registerform {
  padding: 40px;
  margin: auto;
  width: 400px;
}

.loginform {
  padding: 87px;
  margin: auto;
  width: 500px;
}

/******************************************************/

.modaltitle {
  position: absolute;
  right: 40%;
}

.search {
  position: absolute;
  top: 20%;
  right: 40%;
}

.custom-modal-style-search {
  max-height: 60vh;
  max-width: 900px;
  overflow-y: auto;
  overflow-x: hidden;
}
.custom-modal-style-diss {
  max-height: 200vh;
  max-width: 700px;
}

.modaltitle-style {
  white-space: nowrap;
  color: black;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 650px;
}
.custom-modal-style-rename {
  max-width: 700px;
}
.modal-backdrop {
  opacity: 0.1 !important;
  filter: alpha(opacity=50);
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: #292b2c;
}
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(#17a2b8, rgb(9, 199, 247));
  border-radius: 15px;
}
.row {
  float: right;
}

.navbtn {
  position: absolute;
  top: 20%;
  right: 20px;
}
#basic-nav-dropdown {
  color: white;
}

.profileform {
  margin-left: 25%;
  margin-right: 25%;
  width: 800px;
}

.profilepic {
  height: 200px;
  width: 200px;
}

/********************************************************/
/*mybuddiestab*/

.buddiestabs {
  margin-top: 20px;
  margin-right: 200px;
  margin-left: 200px;
}
.tabbudspinner {
  position: fixed;
  top: 60%;
  left: 50%;
}
.tabcontainercontent {
  float: right;
  margin-top: 20px;
  margin-bottom: 40px;
}
.tabcontent {
  margin-top: 4px;
  margin-bottom: 22px;
}
/********************************************************/
.home {
  background-color: #ced4da;
  height: 1300px;
}
/*general/insidedrive components*/
.homemenu {
  position: fixed;
  top: 50%;
}

.content {
  margin: 0 auto;
  width: 80%;
  border-radius: 25px;
  background-color: white;
  border: 3px solid #343a40;
  color: black;
  height: 1200px;
}
.context-menu {
  background-color: rgb(198, 218, 238);
  border: 2px solid black;
}
/******************************************************/
.mydrives-title,
.insidedrivecontent-title,
.firstloadtitle,
.settings-title,
.drivegroupchat-title {
  position: center;
  color: #40bed1;
  margin-top: 20px;
  text-shadow: 6px 2px 8px rgba(0, 0, 0, 0.5);
  font-style: oblique;
}
/******************************************************/
.generalmessage {
  margin-top: 25px;
  margin-right: 10%;
  width: 80%;
  height: 200px;
  float: right;
  border: 3px solid #343a40;
  white-space: pre-line;
}

.generalmessageformbutton {
  float: left;
}
.pmessage {
  width: 100%;
  height: 70%;
  word-break: break-all;
  float: right;
}
.pbutton {
  float: left;
}

.drivesopreations {
  margin-top: 50px;
  margin-right: 35%;
}
.insidemydrivesopreations {
  margin-top: 250px;
  margin-right: 15%;
}
.pathtry {
  margin-bottom: 40px;
}
.path {
  font-size: 30px;
  color: #40bed1;
  text-shadow: 6px 2px 8px rgba(0, 0, 0, 0.5);
  font-style: oblique;
}

.showdrives {
  margin-top: 140px;
  margin-right: 3%;
  max-width: 100%;
  max-height: 950px;
  overflow-y: auto;
  overflow-x: hidden;
}
.showfilesystems {
  margin-top: 350px;
  margin-right: 3%;
  max-width: 100%;
  max-height: 750px;
  overflow-y: auto;
  overflow-x: hidden;
}

.showdrive,
.showfilesystem {
  color: white;
  background-color: white;
  border: none;
  max-width: 150px;
  margin-right: 20px;
  margin-left: 20px;
}
.filespinner {
  position: absolute;
  top: 29%;
  right: 48%;
}
.driveimg,
.folderimg,
.fileimg,
.chatimg {
  width: 60px;
  height: 60px;
}

.filetext {
  white-space: nowrap;
  color: black;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 150px;
}

/********************************************************/
/*filediscussion*/
.discussion {
  border-bottom: 2px dotted black;
}
.discussion-history {
  max-height: 390px;
  background-color: #c4e1e6;
  width: 465px;
  overflow-y: auto;
}

.discussion-new-mes {
  padding-top: 5px;
  height: 100px;
}

/********************************************************/
/*drive settings*/
.drivepermissionsetting {
  margin-top: 20px;
  height: 70px;
  margin-right: 45%;
}

.settings-drivebuddies {
  border-top: 3px dashed rgb(179, 177, 177);
  border-bottom: 3px dashed rgb(179, 177, 177);
  max-height: 600px;
  overflow-y: auto;
}
.buddiessettings {
  margin-top: 60px;
  margin-right: 3%;
}
.settings-admins {
  max-height: 350px;
  overflow-y: auto;
}

/********************************************************/

/*
  Loading Animation
*/
.loader-background {
  background: rgba(255, 255, 255, 0.5);
  top: 50%;
  left: 50%;
}
.loader {
  position: fixed;
  top: 60%;
  left: 50%;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Chat CSS  */
.chat {
  position: fixed;
  right: 2%;
  top: 93%;
}

.chatApp {
  height: 100%;
}
.chatBody {
  background-color: #ededed;
  margin: auto;
  width: 100%;
  height: 100vh;
}

.chatSidebar {
  background-color: #ededed;
  width: 35%;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 100vh;
  float: left;
}
.chatSidebar::-webkit-scrollbar {
  width: 10px;
}
.chatSidebar::-webkit-scrollbar-track {
  background: #292b2c;
}
.chatSidebar::-webkit-scrollbar-thumb {
  background-image: linear-gradient(lightgray, lightgray);
  border-radius: 15px;
}

.chat_right {
  float: right;
  width: 65%;
  height: 100%;
}
.chatavatarheader {
  right: 100%;
}
.sidebarHeader {
  border-right: 1px solid lightgray;
}

.sidebarSearch {
  margin-top: 20%;
  background-color: #f6f6f6;
}

.sidebarSearchContainter > input {
  border: none;
  outline-width: 0;
  margin-left: 10px;
}

.sidebarChat {
  background-color: white;
  cursor: pointer;
  border-bottom: 1px solid #f6f6f6;
}

.sidebarChat:hover {
  background-color: #ebebeb;
}

.sidebarChatInfo > h2 {
  font-size: 16px;
}
.sidebarChatInfo {
  position: relative;
  padding-top: 5%;
  left: 15%;
  height: 75px;

  font-size: large;
}

.chatHeader {
  border-bottom: 1px solid lightgray;
  background-color: rgb(246, 253, 253);
  height: 14%;
}

.chatHeaderInfo {
  position: absolute;
  top: 4%;
  padding-left: 29%;
}

.chatHeaderInfo > h3 {
  margin-bottom: 3px;
  font-weight: 500;
}
.chatHeaderInfo > p {
  color: gray;
}

.chatInnerBody {
  background-color: rgb(198, 218, 238);
  height: 80%;
  padding-top: 20px;
  max-height: 80%;
  overflow-y: auto;
  overflow-x: hidden;
}

.chatMessage {
  position: relative;
  font-size: 16px;
  padding: 10px;
  width: fit-content;
  border-radius: 10px;
  background-color: #ffffff;
  margin-bottom: 30px;
  word-wrap: break-word;
  word-break: break-all;
  max-width: 680px;
  margin-left: auto;
}
.chatTimestamp {
  margin-left: 10px;
  font-size: xx-small;
}
.chatName {
  position: absolute;
  top: -15px;
  font-weight: 800;
  font-size: xx-small;
}

.chatReciever {
  background-color: #4766f0;
  margin-left: 0;
  margin-right: auto;
}

.chatFooter {
  align-items: center;
  border-top: 1px solid lightgray;
  margin-bottom: 20px;
}

.chatFooter > form {
  flex: 1;
  display: flex;
}
.chatFooter > form > input {
  flex: 1;
  border-right: 30px;
  padding: 10px;
  border: none;
  outline-width: 0;
}
.chatFooter > form > button {
  display: none;
}

.createGroup {
  align-items: center;
  border-top: 1px solid lightgray;
  margin-bottom: 20px;
}
.chatgroupsform {
  margin-top: 6%;
  margin-left: 37%;
}
.joinchats {
  margin-top: 3%;
  margin-right: 3%;
  max-width: 100%;
  max-height: 750px;
  overflow-y: auto;
  overflow-x: hidden;
}
.joinchat {
  max-width: 150px;
  margin-right: 20px;
  padding-left: 4%;
}

/* Chat CSS end*/
